.sjaakie-joke {
  border-bottom: solid black 1px;
}

.sjaakie-jokes-load {
  background-color: pink;
  width: 150px;
  height: 50px;
  border-radius: 5%;
  margin-top: 2%;
  border: solid plum 1px;

}
